* {
   list-style: none;
   text-decoration: none;
}
body{
  background-image: url("Images/2131.jpg");
  width: 100%;
}

.nav{
  display: inline-flex;
  justify-content: space-between;
  padding: 20px;
  padding-right:15% ;
  background-color: black;
  z-index: 99111119;
  width: 100%;
}
.nav h2{
  color: rgb(135, 230, 236);
  font-size: 60px;
  margin-left: 35px;
  /* font-family: cursive; */
  /* font-weight: 900; */
}
.nav-section ul li{
  padding-left: 20px;
  display: inline;
}
.nav-section ul li a{
  text-decoration: none;
  color: white;
  font-size: 45px;
  transition: all 0.4s;
}
.nav-section ul li a:hover
{
  opacity: 1;
  color: gold;
}
.nav-section ul li a.active{
  color: gold;
}
/* #navi .active{
  opacity: 1;
  color: gold;
  background:linear-gradient(45deg,grey 60%,black) ;
} */
@media only screen and (min-width:787px) and (max-width: 1350px) {
  .nav h2{
    margin: 13px;
    font-size: 55px;
  }
  .menu{
    margin: 13px;
   display: block;
   cursor: pointer;
  }
  .menu .line{
    width: 30px;
    height: 4px;
    margin: 6px;
    background-color: white;
  }
  .nav-section{
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 999999;
    width: 100%;
    background-color: black;
  transition: 0.3s;
   overflow: hidden;
  }
  .nav-section ul li{
    display: block;
    width: fit-content;
    margin: 23px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-section.active {
       height: auto;
  }
  .nav-section.active ul li{
    opacity: 1;
  }
  .nav-section.active ul li a{
    font-size: 40px;
     
  }
}


/* -------------about us-------- */
.us{
  width: 100%;
  height: auto;
 background: linear-gradient(70deg,rgb(73, 0, 128),rgb(230, 62, 74));
 padding-bottom: 43px;
 padding-top: 22px;
}
.aboutus{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.us  h1{
  text-decoration: underline;
  display: block;
  color: white;
  text-align: center;
  margin-bottom: 33px;
}
.aboutus .first{
  /* padding-left: 12px; */
  display: flex;
  justify-content: center;
  padding-left: 12px;
  padding-top: 33px;
}
.title h2{
  font-size: 33px;
  /* padding-left: 12px; */
}
.aboutus .first .image{
  width: 130px;
  height: 130px;
  border-radius: 60px;
  overflow: hidden;
}
.aboutus .first .image img{
  width: 100%;
  height: 100%;
}
.aboutus .first .title{
  padding-left: 12px;
  color: rgb(179, 214, 239);
}
.title a {
  padding-left: 10px;
}
.title p{
  font-size: 25px;
  font-weight: 700;
}
.title a img{
   width: 30px;
   height: 30px;
}
.aboutus .first .image:hover{
   border-radius: 10px;
}
.title a img:hover {
  width: 50px;
  height: 50px;
}
